h1{
    background-color: black;
    color:white;
    font-family: sans-serif;
}
span{
    color:darkturquoise;
}
h2{
    background-color: purple;
    color: white;
    font-family: sans-serif;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}
h3{
    background-color: skyblue;
    color: midnightblue;
    font-family: sans-serif;
    font-weight: normal;
    text-align: right;
    text-decoration: underline;
}